<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <title>Fees Management</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <div class="container">

        <div class="sidebar">

            <h2>🎓 ERP Lite</h2>

            <a href="/dashboard">🏠 Dashboard</a>
            <a href="/students">👨‍🎓 Students</a>
            <a href="/courses">📚 Courses</a>
            <a href="/fees">💰 Fees</a>
            <a href="/college-settings">🏫 College Settings</a>
            <a href="/change-admin">🔐 Change Username & Password</a>
            <a href="/attendance">📅 Attendance</a>
            <a href="/results">📊 Results</a>
            <a href="/logout">🚪 Logout</a>

        </div>

        <div class="content">

            <h1>💰 Fees Management</h1>

            <!-- Search -->

            <form method="GET">

                <input type="text" name="search" placeholder="Search Student">

                <button type="submit">Search</button>

                <a href="/fees">
                    <button type="button">Show All</button>
                </a>

            </form>

            <hr>

            <!-- Add Fees -->

            <form method="POST">

                <input type="text" name="student_name" placeholder="Student Name" required><br><br>

                <input type="text" name="roll" placeholder="Roll Number" required><br><br>

                <input type="number" name="total_fee" placeholder="Total Fees" required><br><br>

                <input type="number" name="paid_fee" placeholder="Paid Fees" required><br><br>

                <button type="submit">Save Fees</button>

            </form>

            <hr>

            <h2>💳 Fees Records</h2>

            <table border="1" cellpadding="10">

                <tr>

                    <th>ID</th>
                    <th>Name</th>
                    <th>Roll</th>
                    <th>Total</th>
                    <th>Paid</th>
                    <th>Remaining</th>
                    <th>Action</th>

                </tr>

                {% for fee in fees %}

                <tr>

                    <td>{{ fee[0] }}</td>
                    <td>{{ fee[1] }}</td>
                    <td>{{ fee[2] }}</td>
                    <td>{{ fee[3] }}</td>
                    <td>{{ fee[4] }}</td>
                    <td>{{ fee[5] }}</td>

                    <td>

                        <a href="/edit-fee/{{ fee[0] }}">✏️ Edit</a>

                        |

                        <a href="/delete-fee/{{ fee[0] }}">🗑️ Delete</a>

                    </td>

                </tr>

                {% endfor %}

            </table>

        </div>

    </div>

</body>

</html>